<main>
  <h2 id="title">Welcome to Cinemaphile Home</h2>
  <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
  </div>
  <form>
      <h3>Login Here</h3>

      <label for="username">Username</label>
      <input type="text" placeholder="Email or Phone" id="username">

      <label for="password">Password</label>
      <input type="password" placeholder="Password" id="password">


      <button><a href="/home" > Log In</a></button>
      
      
      <div class="social">
        <div class="go"><a href="/register"> Register</a> </div>
      </div>
  </form>
</main>